.banar-text h1{
  font-size: 35px;
}
.banar-text p{
     max-width: 570px;
  height: auto;
  margin-top: 100px;
  font-weight: lighter;
}
.banar-text{

  max-width: 570px;
  height: auto;
  margin-top: 100px;
}
span{
    color: #E95A08;
}

.banar-img{
     width: 400px;
  height: auto;
}
.banar-img img {
  width: 100%;
  height: auto;
  display: block;
}
.header-banar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 30px auto;
  height: auto;
  padding: 0 20px;
  box-sizing: border-box;
} 

@media screen and (max-width:576px) {

     .banar-img{
       width: 100%;
    margin-bottom: 20px;
    }
   
   .banar-text p{
    width: 90%;
    margin-left: 0;
    margin-top: 30px;
   }
  
  .banar-img img {
    width: 100%;
    height: auto;
  }

  .header-banar{
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  .banar-text h1{
    margin-top: 0;
  }
   
    
}